*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 30px;
}
.container{
    display: flex;
}
.box{
    height: 150px;
    width: 150px;
}
#box1{
    background-color: black;
    color: white;
}
#box2{
    background-color: blue;
    color: white;
}
#box3{
    background-color: brown;
    color: white;
    /* position: absolute;*/ /* element wil move to its parent position */
    position: relative; /*element wil move to its own position*/
    /* position: sticky; element will stick at his position and no work with top, bottom, left righ properety */
    top: 50px;
    left: 50px;
}
#box4{
    background-color: green;
    color: white;
}
